# IAR C-STAT and C-RUN
# Comment this out if you use C-Stat or C-Run to compile/analyze your project
*.ewt

# IAR Debugger files
*.ewd


# IAR Settings
**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos
**/settings/*.dnx

# IAR Debug Exe
**/CoordinatorEB/Exe/

# IAR Debug List
**/CoordinatorEB/List

# IAR Debug Obj
**/CoordinatorEB/Obj/*.pbd
**/CoordinatorEB/Obj/*.pbd.*
**/CoordinatorEB/Obj/*.pbi
**/CoordinatorEB/Obj/*.pbi.*
**/CoordinatorEB/Obj/*.r51

# Log files
**.log

# IAR backup files
Backup*

# IAR .dep files
*.dep

# Compiled Binaries
*.bin
*.elf
*.map

# Trash files
*.bak

# CC2530DB

CC2530DB/CHDTECH_DEV
CC2530DB/FREEPAD*
CC2530DB/flower
CC2530DB/DIYRuZ_*
Source/version.c
!.vscode/
.vscode/settings.json
firmwares/*.hex