[submodule "BME280_driver"]
	path = BME280_driver
	url = git@github.com:BoschSensortec/BME280_driver.git
	ignore = dirty
[submodule "zstack-lib"]
	path = zstack-lib
	url = git@github.com:diyruz/zstack-lib.git
